/* *{
    border: 2px solid red;
} */

html{
    background-color: black;
    margin-right: auto;
    margin-left:auto;
    width: 950px;
    color: white;
    font-family: Verdana,Helvetica, sans-serif;
}

body{
    flex-shrink: 0;;
}

.header{
    display: flex;
    color: white;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.logo{
    margin-right: 50px;
}

img{
    width: 100px;
    height: 50px;
}
.navbar{
    width: 100%;
    display: flex;
    flex-shrink: 0;
} 

.navbar>.right-links{
    display: flex;
    margin-left: auto;
    margin-bottom: 20px;
    align-items: center;
    text-transform: uppercase;
    font-size: small;
}
ul{
    list-style: none;
    padding: 0;
    gap:20px;
    margin: 10 0;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(209, 209, 209);
}

.top-part1{
    color: white;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.top-part1>.title{
    text-shadow: 3px 3px 5px rgb(209, 209, 209);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.top-part1>.small-desc{
    color: rgb(209, 209, 209);
    margin-right: 50px;
    margin-bottom: 20px;
}

.top-part2{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.top-cont{
    display: flex;
    align-items: center;
}

.mid-part{
    color: black;
    height: 250px;
    background-color: white;
    margin-top: 50px;
    padding: 30px;
}

.mid-part>.title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 3px 3px 5px rgb(209, 209, 209);

}
.vids{
    display: flex;
    justify-content: space-between;
}

.vidsdesc{
    display: flex;
    justify-content: space-between;
}

.middesc{
    width: 200px;
    text-align: center;
}

.quotecont{
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(207, 204, 204);
    color: black;
}

.quotetext{
    font-style: italic;
    font-size:21px;
}

.quoteauthor{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 700;
}

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    color: white;
}